.topbutton{
    border: 0px;
    border-bottom: 1px solid black;
    height: 100%;
    width:33.33%;
    padding: 0px;
    margin: 0px;
    float:left;
    background-color: white;
}

.topbutton:hover {
    background-color: #eeeeee;
}

.user_list_individual {
    border-bottom: 1px solid black;
    display: flex;
}

.user_list_individual_image {
    margin: 15px;
}
h3{
    position: absolute;
    left:160px;top:18px;
}

.arrow_btn{ 
    position: relative;
    top:18px;
    left:5px;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    
    padding: 5px 10px 5px 30px;
} 
.arrow_btn::before,
.arrow_btn::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.arrow_01::before{
    width: 10px;
    height: 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.border{
    border:#080808 1px solid; /*境界線の指定*/
    border-radius: 20px;
    
    /* margin-left: 35px;
    margin-right: 35px;
    width:300px;
    color:black;
    font-size:12px;
    display:flex;
    align-items:center;
    height:100px;
    margin-bottom: 20px; */
}