body {
    font-family: Arial, sans-serif;
}

.topbutton {
    border: 0px;
    border-bottom: 1px solid black;
    height: 100%;
    width: 25%;
    padding: 0px;
    margin: 0px;
    float: left;
    background-color: white;
}

.topbutton:hover {
    background-color: #eeeeee;
}

.user_list_individual {
    border-bottom: 1px solid black;
}

.image_and_name {
    display:flex;
}

.user_list_individual_image {
    margin: 15px;
}
