/* Reset and basic styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navigation arrow button */
.arrow_btn {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.arrow_btn::before,
.arrow_btn::after {
    position: absolute;
    top: 50%;
    margin-top: -2px; /* 矢印を中央に揃えるための調整 */
    content: "";
}

.arrow_01::before {
    width: 10px;
    height: 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(225deg); /* 矢印の向き */
}

/* Styling for party items */
.party-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.party-item h3 {
    color: #000;
    font-size: 1.5rem;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.party-item .description {
    color: #444;
    font-size: 1.1rem;
    margin: 10px 0;
}

.party-item .interests {
    margin-top: 10px;
}

.party-item .interest {
    display: inline-block;
    background-color: #f0f0f0;
    color: royalblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 0.9rem;
}

.party-item .members {
    margin-top: 15px;
}

.party-item .user_img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

.party-item .chat {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.party-item .chat:hover {
    background-color: #45a049;
}

/* Floating action button for adding new party */
.post-btn {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background: aqua;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.post-btn:hover {
    background-color: #00bcd4;
    transform: scale(1.1);
}
