.arrow_btn{ 
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    
    padding: 5px 10px 5px 30px;
} 
.arrow_btn::before,
.arrow_btn::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";


    
    vertical-align: middle;
}

.arrow_01::before{
    width: 10px;
    height: 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.kann{ 
    
    position: absolute;
        top: 0;
        right: 0;
        color: rgb(114, 114, 235);


}
.henn{ 
    
    text-align: center;
    color: rgb(200, 25, 25);

}
.conn{ 
    
    margin: 30px;
}
 .aa{ 
    width:91px;
        margin-right:10px;
        height:91px;
} 
.star{ 
    position: relative;
    bottom:40px; left:130px;
}

.Blood{ 
    position: relative;
    bottom:-25px; left:70px;

}
.purpose{ 
    position: relative;
    bottom:50px; left:50px;

}
.syumi {
    background-color: deeppink;
    height: auto;
    width:auto;
    border: 0px;
    border-radius: 10px;
    color: white

}

.syumi.clicked {
    background-color: lightblue; /* クリックしたら背景色を変更 */
}

.syumi2{
    display: none;
}
.syumi2:checked + label {
    background: #31A9EE;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.syumi3{
    background-color: deeppink;
    height: auto;
    width:20px;
    border: 0px;
    border-radius: 10px;
    color: white;
    border: 2px solid #000000;/* ボックスの境界線を実線で指定する */
}