.arrow_btn{ 
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    
    padding: 5px 10px 5px 30px;
} 
.arrow_btn::before,
.arrow_btn::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";


    
    vertical-align: middle;
}

.arrow_01::before{
    width: 10px;
    height: 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.kann{ 
    
    position: absolute;
        top: 0;
        right: 0;
        color: rgb(114, 114, 235);


}
.henn{ 
    
    text-align: center;
    color: rgb(200, 25, 25);

}
.conn{ 
    
    margin: 30px;
}
 .aa{ 
    width:91px;
        margin-right:10px;
        height:91px;
} 

.mai{ 
    position: relative;
    bottom:280px; left:70px;
}
.pura1{ 
    position: relative;
    bottom:280px; left:140px;
}
.pura2{ 
    position: relative;
    bottom:280px; left:210px;
}
.pura3{ 
    position: relative;
    bottom:150px; left:-40px;
}
.pura4{ 
    position: relative;
    bottom:150px; left:40px;
}
.pura5{ 
    position: relative;
    bottom:150px; left:110px;
}
.pura6{ 
    position: relative;
    bottom:20px; left:-145px;
}
.pura7{ 
    position: relative;
    bottom:20px; left:-65px;
}
.pura8{ 
    position: relative;
    bottom:20px; left:3px;
}
.tatikawa{ 
    margin-top: 20px;
    

}
