.arrow_btn{ 
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    
    padding: 5px 10px 5px 30px;
} 
.arrow_btn::before,
.arrow_btn::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.arrow_01::before{
    width: 10px;
    height: 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.text1{
    border-bottom: 1px solid rgba(184, 184, 184, 0.863);
  }

.text2{
    padding-top: 10px;
    padding-left: 100px;
    margin-bottom: 0px;
}
.text3{
    padding-left: 130px;
    margin-top: 0px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.551);
}

.icon{
    /* IMG_0408 1 */
position: absolute;
width: 85px;
height: 84px;
left: 13px;

mix-blend-mode: normal;
border-radius: 360px;

  }

a{
    color:inherit;
    text-decoration: none;
}