*{
    margin: 0;
    padding: 0;
}

.base {
    width: 100vw;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fm1, .fm2, .fm3, .fm4, .fm5{
    width: 20vw;
    border: none;
    height: 10%;
    width: 10%;
    background-color: white;
    display: inline-block;
    justify-content: center;
    margin: auto 3vw auto 3vw;
}

.footer{
    position: fixed;
    bottom: 0;  
    z-index: 999;
}

.font {
    color: #777;
    font-family: "SF Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 510;
    line-height: 16px;
}
