.base {
    background: linear-gradient(90deg, #B2F5F5 0%, #7BC0FF 100%);
    background-blend-mode: multiply;
    width: 100vw; /* ビューポートの幅いっぱいに */
    height: 100vh; /* ビューポートの高さいっぱいに */
    /*flex-direction: column;*/
}

.content {
   /* justify-content: center; /* 横方向の中央揃え */
    /*  align-items: center; 縦方向の中央揃え */
    margin:  auto auto 40.28436018957346vw auto;
    display:  flex;
    align-items: center;
}

.logo {
    margin:  auto auto 1.8957345971563981vw auto;
    display:  flex;
    align-items: center;
}

.textzone {
    display:  flex;
    align-items: center;
    width: 76.92307692307693vw;
    word-break: normal;
    width: 340px;
    word-break: break-all;
    margin: auto auto auto auto;

    color: #FFF;
    font-family: "SF Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.button {
    width: 96.15384615384616vw;
    height: 11.282051282051283vw;
    flex-shrink: 0;

    border-radius: 90px;
    border: 1px solid #B5B2B2;
    background: #FFF;
    background-blend-mode: multiply;
}

.font {
    color: #000;
    text-align: center;
    font-family: "SF Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}