*{
    margin: 0;
    padding: 0;
}

.headergroup{
    height: auto;
    display: flexbox;
}

.topbutton1, .topbutton2, .topbutton3, .topbutton4{
    margin: 0px;
    height: 8vh;
    border: none;
    background-color: #FFFF;
    width:32vw;
}

.font{
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.topbutton1:hover, .topbutton2:hover, .topbutton3:hover, .topbutton4:hover{
    /*border: solid;*/
}

.headhr{
    
}